/* common.css
 *
 * Copyright (C) 2017 Universidad de Sevilla
 * 
 * The use of this project is hereby constrained to the conditions of the 
 * TDG Licence, a copy of which you may download from 
 * http://www.tdg-seville.info/License.html
 * 
 */

.error {
	color: red;
	font-weight: bolder;
}

.message {
	color: red;
	font-weight: bolder;
}

.chorbiImage {
	width: 200px;
	height: 200px;
}

.banner {
	width: 500px;
	heaight: 40px;
}

.recentEvent {
	background-color: #ff5f5f !important;
}

.pastEvent {
	background-color: #BFBFBF !important;
}

.normalEvent {
	background-color: #fea !important;
}