<%--
 * goto.tag
 *
 * Copyright (C) 2017 Universidad de Sevilla
 * 
 * The use of this project is hereby constrained to the conditions of the 
 * TDG Licence, a copy of which you may download from 
 * http://www.tdg-seville.info/License.html
 --%>

<%@ tag language="java" body-content="empty"%>

<%-- Taglibs --%>

<%@ taglib prefix="jstl" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt"%>
<%@ taglib prefix="tiles" uri="http://tiles.apache.org/tags-tiles"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>
<%@ taglib prefix="security"
	uri="http://www.springframework.org/security/tags"%>
<%@ taglib prefix="acme" tagdir="/WEB-INF/tags"%>

<%-- Attributes --%>

<%@ attribute name="code" required="true"%>
<%@ attribute name="url" required="true"%>
<%@ attribute name="access" required="false"%>
<%@ attribute name="confirm" required="false"%>

<jstl:if test="${access == null}">
	<jstl:set var="access" value="permitAll" />
</jstl:if>

<%-- Definition --%>

<security:authorize access="${access}">

	<jstl:choose>
		<jstl:when test="${confirm != null}">
			<button type="button" onclick="javascript: relativeRedir('${url}')">
				<spring:message code="${code}" />
			</button>
		</jstl:when>
		<jstl:otherwise>
			<button type="button" onclick="javascript: relativeRedir('${url}')">
				<spring:message code="${code}" />
			</button>
		</jstl:otherwise>
	</jstl:choose>
</security:authorize>