<%--
 * submit.tag
 *
 * Copyright (C) 2017 Universidad de Sevilla
 * 
 * The use of this project is hereby constrained to the conditions of the 
 * TDG Licence, a copy of which you may download from 
 * http://www.tdg-seville.info/License.html
 --%>

<%@ tag language="java" body-content="empty" %>

<%-- Taglibs --%>

<%@ taglib prefix="jstl" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<%@ taglib prefix="tiles" uri="http://tiles.apache.org/tags-tiles" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form" %>
<%@ taglib prefix="security" uri="http://www.springframework.org/security/tags" %>
<%@ taglib prefix="acme" tagdir="/WEB-INF/tags" %>

<%-- Attributes --%> 

<%@ attribute name="name" required="true" %> 
<%@ attribute name="code" required="true" %>
<%@ attribute name="confirm" required="false" %>
<%@ attribute name="confirmMsg" required="false" %>

<%-- Definition --%>
<jstl:choose>
	<jstl:when test="${confirm}">
		<button type="submit" name="${name}" class="btn btn-primary" onclick="confirm('${confirmMsg}')">
			<spring:message code="${code}" />
		</button>
	</jstl:when>
	<jstl:otherwise>
		<button type="submit" name="${name}" class="btn btn-primary">
			<spring:message code="${code}" />
		</button>
	</jstl:otherwise>
</jstl:choose>
